@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$colors: (
  primary: rgb(17, 17, 17),
  secondary: rgb(27, 27, 27),
  accent: #e41749,
  border: rgb(36, 36, 36),
  button-hover: #f3426f,
  button-active: #ff6b90,
);

$fonts: (
  title: 4.5rem,
  h1: 3rem,
  h2: 1.5rem,
  h3: 1.17rem,
  h4: 1.125rem,
  h5: 0.875rem,
  h6: 0.75rem,
  form: 1rem,
  bold: 900,
  italic: italic,
);

$radius: (
  small: 2px,
  medium: 5px,
  large: 10px,
  extra-large: 20px,
);

$borders: (
  medium: 2px solid map-get($colors, border),
  small: 1px solid map-get($colors, border),
  medium-hover: 2px solid map-get($colors, accent),
);

///////////////////////////////FONTS////////////////////////////////////////
.sdf-title {
  font-family: inherit;
  font-size: map-get($fonts, title);
  font-weight: map-get($fonts, bold);
  font-style: map-get($fonts, italic);
}

.sdf-h1 {
  font-family: inherit;
  font-size: map-get($fonts, h1);
  font-weight: map-get($fonts, bold);
  font-style: map-get($fonts, italic);
}

.sdf-h2 {
  font-family: inherit;
  font-size: map-get($fonts, h2);
  font-weight: map-get($fonts, bold);
  font-style: map-get($fonts, italic);
}

.sdf-h3 {
  font-family: inherit;
  font-size: map-get($fonts, h3);
  font-weight: map-get($fonts, bold);
  font-style: map-get($fonts, italic);
}

.sdf-h4 {
  font-family: inherit;
  font-size: map-get($fonts, h4);
  font-weight: map-get($fonts, bold);
  font-style: map-get($fonts, italic);
}

.sdf-h5 {
  font-family: inherit;
  font-size: map-get($fonts, h5);
  font-weight: map-get($fonts, bold);
  font-style: map-get($fonts, italic);
}

/* --------------------------LIGHT AND DARK------------------------------ */

.dark {
  color: white;
}

.light {
  color: black;
}

/* ---------------------------SUBMIT BUTTONS------------------------------- */

.sdf-submit-s {
  font-family: inherit;
  font-size: map-get($fonts, h5);
  font-weight: map-get($fonts, bold);
  background-color: map-get($colors, accent);
  color: white;
  border: none;
  outline: none;
  height: 41px;
  min-width: 129px;
  max-width: 220px;
  border-radius: map-get($radius, small);
  margin: 0px 5px;
  cursor: pointer;

  &:hover {
    background-color: map-get($colors, button-hover);
  }

  &:active {
    background-color: map-get($colors, button-active);
  }
}

.sdf-submit-s-minimal {
  font-family: inherit;
  font-size: map-get($fonts, h5);
  font-weight: map-get($fonts, bold);
  color: rgb(197, 197, 197);
  background-color: inherit;
  border: none;
  outline: none;
  height: 41px;
  min-width: 83px;
  max-width: 83px;
  margin: 0px 5px;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.sdf-submit-m {
  font-family: inherit;
  font-size: map-get($fonts, h4);
  font-weight: map-get($fonts, bold);
  font-style: map-get($fonts, italic);
  background-color: map-get($colors, accent);
  color: white;
  border: none;
  outline: none;
  width: 300px;
  height: 68px;
  margin: 10px;
  border-radius: map-get($radius, large);
  cursor: pointer;

  &:hover {
    background-color: map-get($colors, button-hover);
  }

  &:active {
    background-color: map-get($colors, button-active);
  }
}

.sdf-submit-l {
  font-family: inherit;
  font-size: map-get($fonts, h2);
  font-weight: map-get($fonts, bold);
  font-style: map-get($fonts, italic);
  background-color: map-get($colors, accent);
  color: white;
  border: none;
  outline: none;
  height: 68px;
  width: 358px;
  border-radius: map-get($radius, small);
  cursor: pointer;

  &:hover {
    background-color: map-get($colors, button-hover);
  }

  &:active {
    background-color: map-get($colors, button-active);
  }
}

/* ----------------------------------INPUT FORM----------------------------- */
.sdf-form {
  width: 300px;
  height: 50px;
  padding: 20px;
  font-family: inherit;
  font-size: map-get($fonts, form);
  font-weight: bold;
  border: map-get($borders, medium);
  outline: none;
  margin: 10px;
  border-radius: map-get($radius, large);
  background-color: inherit;
  color: lightgray;

  &:active {
    border: 2px solid map-get($colors, accent);
  }
}

.sdf-form-code {
  width: 60px;
  height: 60px;
  padding: 10px;
  text-align: center;
  font-family: inherit;
  font-size: map-get($fonts, h2);
  font-weight: bold;
  border-radius: map-get($radius, large);
  border: map-get($borders, medium);
  outline: none;
  margin: 10px;
  background-color: rgb(10, 10, 10);
  color: white;

  &:active {
    border: 2px solid map-get($colors, accent);
  }
}

.sdf-form-search {
  min-width: 190px;
  max-width: 190px;
  font-family: inherit;
  font-size: map-get($fonts, h6);
  font-weight: bold;
  height: 30px;
  outline: none;
  background-color: inherit;
  color: white;
  padding: 0 20px;

  border: none;
  border-right: 2px solid map-get($colors, border);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////      STYLESHEET         ////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: map-get($colors, primary); /* fallback for old browsers */

  background: linear-gradient(
    to top,
    map-get($colors, secondary),
    #181818,
    map-get($colors, primary)
  );

  // background-color: map-get($colors, primary);

  color: white;
}
/* ------------------------------Link------------------------ */
a {
  text-decoration: none;
  color: #9e9e9e;
  width: fit-content;
  padding: 5px;

  &:hover {
    color: map-get($colors, accent);
  }
}

/* ----------------------------Login Container------------------ */

.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    padding: 20px;
    margin: 10px;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: 68px;
    margin: 5px;
    font-size: map-get($fonts, h5);
  }

  .code-bar {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
  }
}

/* --------------------------HOME------------------------------------- */

.container {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 30px;
  justify-content: flex-end;
}

.title-container {
  width: 100%;
  padding: 260px 90px 80px 90px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
  margin: 20px 90px;
  border: map-get($borders, medium);
  height: 50px;
  border-radius: map-get($radius, large);
}

.role-button-container {
  padding: 10px;

  .role-button {
    font-family: inherit;
    font-size: map-get($fonts, h6);
    font-weight: map-get($fonts, bold);
    color: lightgray;
    background-color: inherit;
    border: none;
    outline: none;
    margin: 0px 10px;
    cursor: pointer;
    padding: 16px 0;

    &:hover {
      color: white;
      box-shadow: 0 2px 0px map-get($colors, accent);
    }
  }
}

/* --------------------------CARDS----------------------------- */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 100px;
  width: 100%;
  justify-content: space-between;

  .card {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    height: 250px;
    background: map-get($colors, secondary);
    border: none;
    margin: 20px 10px;
    border-radius: map-get($radius, large);
    overflow: hidden;
    cursor: pointer;

    img {
      object-fit: cover;
    }

    .cname {
      display: flex;
      position: absolute;
      justify-content: center;
      align-self: flex-end;
      align-items: center;
      width: 180px;
      padding: 100px 20px 10px 20px;
      color: white;
      background-color: transparent;
      box-shadow: inset 0px -79px 67px -40px black;
      border-radius: inherit;
    }

    .card-glow {
      position: absolute;
      width: 180px;
      height: 250px;
      background-color: transparent;
      border-radius: inherit;

      &:hover {
        box-shadow: inset 0px -200px 300px -58px rgba(255, 255, 255, 0.151);
      }
    }
  }
}

/* -------------------------------Top-rating--page-------------------- */

.top-rating-background {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  background-color: #eceff1;
  //texture-background-image
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  justify-content: center;
  align-items: center;
}

.top-rating-container {
  display: flex;
  background-image: url("../image/img.jpg");
  width: 70vw;
  height: 700px;
  border-radius: map-get($radius, extra-large);
  overflow: hidden;
}

.sp-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 700px;
  background: rgba(0, 0, 0, 0.425);
  backdrop-filter: blur(5px);
}

.sp-title {
  padding: 20px 20px;
  margin: 40px 40px 0 40px;
  border-bottom: map-get($borders, medium);
}

.sp-card-container {
  overflow: scroll;
}

/* ---------------Sidebar-Scrollbar-------------------- */

.sp-card-container::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

/* Handle */
.sp-card-container::-webkit-scrollbar-thumb {
  background: #757575;
}

/* Handle on hover */
.sp-card-container::-webkit-scrollbar-thumb:hover {
  background: map-get($colors, accent);
}
/* --------------Sidepanel Card----------------------------- */
.sp-card {
  display: flex;
  width: auto;
  height: 100px;
  margin: 20px 40px;
  background-color: rgba(0, 0, 0, 0.637);
  cursor: pointer;
  border-radius: map-get($radius, large);
  overflow: hidden;

  &:hover {
    box-shadow: inset 10px 10px 300px -10px rgba(255, 255, 255, 0.151);
  }

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
}

.sp-card-rating {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sp-card-rating > .rating {
  padding: 10px 0;
  width: auto;
}
